#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) libs CFLAGS="-g -O2 -Iinclude"

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

override_dh_auto_test:
	@echo "Tests require vendor/facts submodule; skipping in deb build"
